{
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "airbnb/hooks",
    "prettier",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "rules": {
    "default-param-last": "off",
    "@typescript-eslint/default-param-last": "off",
    "no-param-reassign": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "no-use-before-define": "off",
    "react/jsx-filename-extension": [1, {"extensions": [".js", ".jsx", ".ts", ".tsx"]}],
    "@typescript-eslint/ban-types": [
      "error",
      {
        "extendDefaults": true,
        "types": {
          "{}": false
        }
      }
    ],
    "object-shorthand": ["warn", "always"],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ]
  },
  "settings": {
    "import/prefer-default-export": "off",
    "import/resolver": {
      "node": {},
      "babel-module": {
        "root": ["./src"],
        "allowExistingDirectories": true
      },
      "typescript": {}
    }
  },
  "env": {
    "browser": true,
    "node": true
  }
}
